
 table, tr, th, td {
	 border: 3px solid #3b50b2;
	 border-collapse: collapse;
}
 body{
	 background-color: lightblue;
 	color: #225763;
	font-family:"Helvetica", "Tahoma", "Ariel" sans-serif;
}	
h1{
	border: 3px solid aliceblue;
	padding: 30px;
	border-bottom: 5px dotted aliceblue;
	margin:20px;
}	
table{
	margin:auto;	
}	
#secondLink{ 
	background-color: #3b50b2;	
	color: aliceblue;
}
#firstLink{
	background-color: #3b50b2;
	color: aliceblue;
}
#info{
	background-color: lightskyblue;
}	
.checker{
	background-color: #41d8bf;
}	
.checkered{
	background-color: #2f89b3;
}	
#title{
	background-color:skyblue;
}	
