h1{
	background-color: BlanchedAlmond;
}
#homepage{
	display:grid;
	height 100vh;
	gap: 5px;
	grid:
		'nav' 1fr
		'hero' 7fr
		'mission' 4fr
		'foot' 3fr
		/1fr;
}
#nav{
	grid-area:nav;
	color:black;
	text-align:center;
}
#hero{
	grid-area:hero;
	color:black;
}
#mission{
	grid-area:mission;
	text-align:center;
	color:black;
	font-size: 50px;
}
#foot{
	grid-area:foot;
	text-align:center;
	color:black;
}
img{
	margin:center;
}
