body{
	background-color:#e7eaf6;
	color:#113f67;
}
#homepage{
	display:grid;
	height 100vh;
	gap: 5px;
	grid:
		'nav' 1fr
		'hero' 7fr
		'mission' 4fr
		'foot' 3fr
		/1fr;
}
#nav{
	grid-area:nav;
	text-align:center;
}
#hero{
	grid-area:hero;
}
#mission{
	grid-area:mission;
	text-align:center;
	font-size: 50px;
}
#foot{
	grid-area:foot;
	text-align:center;
	background-color: #38598b;
	color:#e7eaf6;
}
img{
	margin:auto;
}
#searchbar{
	display:grid;
	height:5vh;
	gap:5px;
	grid:
'home about activities accomodations FAQ' 1fr
/1fr	 1fr	 1fr		 1fr	 1fr;
}
#home{
	grid-area:home;
	border: solid black;
	background-color:#a2a8d3;
	font-size:4vh;
	text-align:center;
}
#about{
	grid-area:about;
	background-color:#a2a8d3;
	font-size:4vh;
	border: solid black;
	text-align:center;
}
#activities{
	grid-area:activities;
	border: solid black;
	font-size:4vh;
	background-color:#a2a8d3;
	text-align:center;
}
#accomodations{
	grid-area:accomodations;
	border: solid black;
	font-size:4vh;
	background-color:#a2a8d3;
	text-align:center;
}
#FAQ{
	grid-area:FAQ;
	font-size:4vh;
	background-color:#a2a8d3;
	border: solid black;
	text-align:center
}
#house_pics{
	display:grid;
	height:100vh;
	gap: 10px;
	grid:
	'drone pond outside1'1fr
	'outside2 garage bedroom1'1fr 
	'bedroom2 kitchen living-room'
	'

