body{
	background-color:#e7eaf6;
	color:#113f67;
}
#homepage{
	display:grid;
	height 100vh;
	gap: 5px;
	grid:
		'nav' 1fr
		'hero' 7fr
		'mission' 4fr
		'foot' 3fr
		/1fr;
}
#nav{
	grid-area:nav;
	text-align:center;
}
#hero{
	grid-area:hero;
}
#mountain_eagle{
	display:block;
	margin: auto;
}
#mission{
	grid-area:mission;
	text-align:center;
	font-size: 50px;
}
#foot{
	grid-area:foot;
	text-align:center;
	background-color: #38598b;
	color:#e7eaf6;
}
img{
	margin:auto;
	display: block;
}
#searchbar{
	display:grid;
	height:5vh;
	gap:5px;
	grid:
'home about activities accomodations FAQ' 1fr
/1fr	 1fr	 1fr		 1fr	 1fr;
}
#home{
	grid-area:home;
	border: solid black;
	background-color:#a2a8d3;
	font-size:4vh;
	text-align:center;
}
#about{
	grid-area:about;
	background-color:#a2a8d3;
	font-size:4vh;
	border: solid black;
	text-align:center;
}
#activities{
	grid-area:activities;
	border: solid black;
	font-size:4vh;
	background-color:#a2a8d3;
	text-align:center;
}
#accomodations{
	grid-area:accomodations;
	border: solid black;
	font-size:4vh;
	background-color:#a2a8d3;
	text-align:center;
}
#FAQ{
	grid-area:FAQ;
	font-size:4vh;
	background-color:#a2a8d3;
	border: solid black;
	text-align:center
}
#house_pics{
	display:grid;
	height:100vh;
	gap: 10px;
	grid:
	'drone pond outside1 outside2'1fr
	'garage bedroom1 bedroom2 kitchen'1fr 
	'living-room bunkbeds bathroom1 bathroom2'1fr
	'view1 view2 extra1 extra2'1fr
	/1fr 1fr 1fr 1fr;	
}
#drone{
	grid-area:drone;
}
#pond{
	grid-area:pond;
}
#outside1{
	grid-area:outside1;
}
#outside2{
	grid-area:outside2;
}
#garage{
	grid-area:garage;
}
#bedroom1{
	grid-area:bedroom1;
}
#bedroom2{
	grid-area:bedroom2;
}
#kitchen{
	grid-area:kitchen;
}
#living-room{
	grid-area:living-room;
}
#bunkbeds{
	grid-area:bunkbeds;
}
#bathroom1{
	grid-area:bathroom1;
}
#bathroom2{
	grid-area:bathroom2;
}
#view1{
	grid-area:view1;
}
#extra1{
	grid-area:extra1;
}
#extra2{
	grid-area:extra2;
}
#about_us-layout{
	display:grid;
	height:100vh;
	gap:40px;
	grid:
	'image-eagle about_us-text'1fr
	/1fr 2fr;
}
#image-eagle{
	grid-area:image-eagle;
}
#about_us-text{
	grid-area:about_us-text;
	overflow: hidden;
}
#inside-eagle{
	margin-top:40px;
}
#faq-section{
	border:solid black;
	background-color:#a2a8d3;
	font-size: 40px;
}
#Question1{
	border:solid black;
}
#Question2{
	border:solid black;
}
#Question3{
	border:solid black;
}
#activity-page{
	display:grid;
	height:100vh;
	grid:
	'swimming boating'1fr
	'fishing hiking'1fr
	'pickleball relaxing'1fr
       	'any-other1 any-other2'1fr
	/1fr 1fr;
}	
#swimming{
	grid-area:swimming;
}
#boating{
	grid-area:boating;
}
#fishing{
	grid-area:fishing;
}
#hiking{
	grid-area:hiking;
}
#pickleball{
	grid-area:pickleball;
}
#relaxing{
	grid-area:relaxing;
}
#any-other1{
	grid-area:any-other1;
}
#any-other2{
	grid-area:any-other2;
}
