h1{
	background-color: BlanchedAlmond;
}
#homepage{
	display:grid;
	height 100vh;
	gap: 5px;
	grid:
		'nav' 1fr
		'hero' 7fr
		'mission' 4fr
		'foot' 3fr
		/1fr;
}
#nav{
	grid-area:nav;
	color:black;
	text-align:center;
}
#hero{
	grid-area:hero;
	color:black;
}
#mission{
	grid-area:mission;
	text-align:center;
	color:black;
	font-size: 50px;
}
#foot{
	grid-area:foot;
	text-align:center;
	color:black;
}
img{
	margin:auto;
}
#searchbar{
	display:grid;
	height:5vh;
	gap:5px;
	grid:
'home about activities accomodations FAQ' 1fr
/1fr	 1fr	 1fr		 1fr	 1fr;
}
#home{
	grid-area:home;
	border: solid black;
	color:black;
	font-size:4vh;
	text-align:center;
}
#about{
	grid-area:about;
	color:black;
	font-size:4vh;
	border: solid black;
	text-align:center;
}
#activities{
	grid-area:activities;
	border: solid black;
	font-size:4vh;
	color:black;
	text-align:center;
}
#accomodations{
	grid-area:accomodations;
	border: solid black;
	font-size:4vh;
	color:black;
	text-align:center;
}
#FAQ{
	grid-area:FAQ;
	font-size:4vh;
	border: solid black;
	color:black;
	text-align:center
}
